body{
    font-family: Roboto, sans-serif;
}
.navbar{
    background-color: rgb(140, 226, 140);
    font-size: 20px;
}

.navbar h1{
    font-size: 25px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.navbar a{
    font-family: Pacifico, cursive;
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover{
    color: #fff;
}

#carousel-principal{
    height: 200px;
    display: flex;
    align-items: center;
}

.carousel-item p{
    font-size: 30px;
}

.div_carousel{
    margin: 20px 0;
    background-color: #ebbeb4;
}

.centralizar_vertical{
    align-items: center;
}

.card-header h6{
    padding-top: 15px;
    font-size: 20px;
    color: #e15f41;
}

.nav button,
.nav button:hover,
.nav .nav-link.active{
    color: #e15f41;
}

.card-img-overlay{
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.card{
    height: 100%;
}

.card img{
    height: 100%;
}


#curso_financas img{
    height: 200px;
}


#faq .accordion-item{
    margin-bottom: 4px;
}

.navbar-toggler,
#sobre-o-restaurante,
#cardapio{
    background-color: #ffeae6;
}

.section-title{
    font-family: Pacifico, cursive;
}

.section-title span{
    color: #e15f41;
}

.text-colored{
    color: #e15f41;
}


.nav-carpadio .nav-link:hover{
    color: #e15f41;
}

.nav-carpadio .nav-link.active,
#fale-conosco button{
    background-color: #e15f41;
    color: #fff;
}

#fale-conosco ul li{
    list-style: none;
    display: inline;
}

#fale-conosco a{
    text-decoration: none;
}


.tab-content button{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    left: 35%;
}

@media (max-width: 767px){
    .carousel-item img{
        height: 280px;
    }

}